flowROBOT.json
[
    {
        "id": "cbc36fa5a4935551",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc5c17e083db84f9",
        "type": "mqtt in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "topic": "Info/Nodo_ESP01/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "48f075c996337301",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "3d7176a13971eff0",
                "a3213dbc68440c03"
            ]
        ]
    },
    {
        "id": "be3ac9fc90dd2a4a",
        "type": "mqtt out",
        "z": "cbc36fa5a4935551",
        "name": "",
        "topic": "Cmd/Nodo_ESP01",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "48f075c996337301",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "137a1baa198c233e",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "bbea045f5fe804ae",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "retroceso",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[17,0,20,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "404f9399026867aa",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "bbea045f5fe804ae",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "izquierda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[15,0,7,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "03fb0bb156bad8ed",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "bbea045f5fe804ae",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "derecha",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[16,0,7,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 620,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "b3c6a18035f4c2ad",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "bbea045f5fe804ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "avance",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[14,0,20,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "3d7176a13971eff0",
        "type": "ui_text",
        "z": "cbc36fa5a4935551",
        "group": "d6614eaae92fbd37",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rx payload:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "b9ca4610d5714ac4",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "badd66b6d48a0c02",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[5,1,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "81bce40aac239205",
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "c72ed3c7173c57cb",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "badd66b6d48a0c02",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Automatico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[5,0,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "293f8479eb1bfd5a",
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "dff7ecee59e52cf7",
        "type": "ui_text",
        "z": "cbc36fa5a4935551",
        "group": "badd66b6d48a0c02",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "control actual:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 840,
        "wires": []
    },
    {
        "id": "a3213dbc68440c03",
        "type": "ui_text",
        "z": "cbc36fa5a4935551",
        "group": "d6614eaae92fbd37",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rx topic:",
        "format": "{{msg.topic}}",
        "layout": "row-spread",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "30b0322449ec1849",
        "type": "mqtt in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "topic": "Hola",
        "qos": "2",
        "datatype": "auto",
        "broker": "48f075c996337301",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "a3213dbc68440c03",
                "3d7176a13971eff0"
            ]
        ]
    },
    {
        "id": "1c852a0917261a6c",
        "type": "ui_text",
        "z": "cbc36fa5a4935551",
        "group": "d6614eaae92fbd37",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tx topic:",
        "format": "{{msg.topic}}",
        "layout": "row-spread",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "ae9efdb0cebcd7c3",
        "type": "ui_text",
        "z": "cbc36fa5a4935551",
        "group": "d6614eaae92fbd37",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tx payload:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "e8c1ed8da97739ae",
        "type": "mqtt in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "topic": "Cmd/Nodo_ESP01",
        "qos": "2",
        "datatype": "auto",
        "broker": "48f075c996337301",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "1c852a0917261a6c",
                "ae9efdb0cebcd7c3"
            ]
        ]
    },
    {
        "id": "617eac41dd51c3f0",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "limpiar Rx/Tx",
        "group": "d6614eaae92fbd37",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar Rx/Tx",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": " ",
        "topicType": "str",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "a3213dbc68440c03",
                "3d7176a13971eff0",
                "1c852a0917261a6c",
                "ae9efdb0cebcd7c3"
            ]
        ]
    },
    {
        "id": "160965ddb86e72c8",
        "type": "inject",
        "z": "cbc36fa5a4935551",
        "name": "solicitud MPU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "d_giro",
        "payloadType": "str",
        "x": 280,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7d133aaa42e83780",
        "type": "mqtt in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "topic": "Info/Nodo_ESP01/VEL_AVANCE",
        "qos": "2",
        "datatype": "auto",
        "broker": "48f075c996337301",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "3d7176a13971eff0",
                "a3213dbc68440c03"
            ]
        ]
    },
    {
        "id": "500302b3cb0b33fd",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "5cb679e20d5ee3b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "orientacion",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[23,0,0,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "a9b9b5a8a8ce4409",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "5cb679e20d5ee3b0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "distancia de avance",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "v_avan",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "f0b88a095b965795",
        "type": "mqtt in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "topic": "Info/Nodo_ESP01/COORD_ANG",
        "qos": "2",
        "datatype": "auto",
        "broker": "48f075c996337301",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "a3213dbc68440c03",
                "3d7176a13971eff0"
            ]
        ]
    },
    {
        "id": "81bce40aac239205",
        "type": "function",
        "z": "cbc36fa5a4935551",
        "name": "MODO, MANUAL",
        "func": "msg.payload = \"manual\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 800,
        "wires": [
            [
                "dff7ecee59e52cf7"
            ]
        ]
    },
    {
        "id": "7260fbf1b4a05cd1",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "5cb679e20d5ee3b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "set home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "set_home",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "5074ebae982fbe1f",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "5cb679e20d5ee3b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "posicion",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[9,0,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "0de90cfd20c72137",
        "type": "ui_numeric",
        "z": "cbc36fa5a4935551",
        "name": "",
        "label": "coord X",
        "tooltip": "",
        "group": "2f56778897a4c7c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "X",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 100,
        "y": 1180,
        "wires": [
            [
                "7056c4c6323f2400",
                "a66a6c5457a73f0c"
            ]
        ]
    },
    {
        "id": "e63be93bae735d6a",
        "type": "ui_numeric",
        "z": "cbc36fa5a4935551",
        "name": "",
        "label": "coord Y",
        "tooltip": "",
        "group": "2f56778897a4c7c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "Y",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 100,
        "y": 1240,
        "wires": [
            [
                "7056c4c6323f2400",
                "a66a6c5457a73f0c"
            ]
        ]
    },
    {
        "id": "a858957e0e7bbb94",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "2f56778897a4c7c9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "imprime",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "S",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 1400,
        "wires": [
            [
                "d5ade9e839ab602b"
            ]
        ]
    },
    {
        "id": "918005cc71ae83cf",
        "type": "ui_numeric",
        "z": "cbc36fa5a4935551",
        "name": "",
        "label": "angulo",
        "tooltip": "",
        "group": "2f56778897a4c7c9",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "A",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "359",
        "step": 1,
        "x": 110,
        "y": 1300,
        "wires": [
            [
                "7056c4c6323f2400",
                "a66a6c5457a73f0c"
            ]
        ]
    },
    {
        "id": "51c93d3b9a40f5a9",
        "type": "ui_text",
        "z": "cbc36fa5a4935551",
        "group": "2f56778897a4c7c9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "coordenadas:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 1260,
        "wires": []
    },
    {
        "id": "18e2d22b2f839ef1",
        "type": "file",
        "z": "cbc36fa5a4935551",
        "name": "",
        "filename": "coord",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "d5ade9e839ab602b",
        "type": "file in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "filename": "coord",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 570,
        "y": 1340,
        "wires": [
            [
                "a93aabacef8f5686"
            ]
        ]
    },
    {
        "id": "a93aabacef8f5686",
        "type": "change",
        "z": "cbc36fa5a4935551",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "XYA",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "51c93d3b9a40f5a9",
                "ec33a4596b895b38"
            ]
        ]
    },
    {
        "id": "ec33a4596b895b38",
        "type": "debug",
        "z": "cbc36fa5a4935551",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1440,
        "wires": []
    },
    {
        "id": "b58c46b40e00faf1",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "b5808822a72da289",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DESTINO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[10,0,5,0,3,0,90,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1560,
        "wires": [
            [
                "0c4dd171470cd88c"
            ]
        ]
    },
    {
        "id": "fbea02cf70992a3b",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "b5808822a72da289",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GO_HOME",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 1620,
        "wires": [
            [
                "28963ad61ae1da61"
            ]
        ]
    },
    {
        "id": "42d4f9f05539861f",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "b5808822a72da289",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SET_HOME",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 1680,
        "wires": [
            [
                "d2b5189c0cf2258b"
            ]
        ]
    },
    {
        "id": "0b9d05624e14a726",
        "type": "file in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "filename": "coord",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 450,
        "y": 1560,
        "wires": [
            [
                "8b025e12b101c67c"
            ]
        ]
    },
    {
        "id": "8b025e12b101c67c",
        "type": "change",
        "z": "cbc36fa5a4935551",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "DST",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1560,
        "wires": [
            [
                "0c4dd171470cd88c"
            ]
        ]
    },
    {
        "id": "28963ad61ae1da61",
        "type": "file in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "filename": "coord",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "22dc0bf817b9f74e"
            ]
        ]
    },
    {
        "id": "22dc0bf817b9f74e",
        "type": "change",
        "z": "cbc36fa5a4935551",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "GHM",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1620,
        "wires": [
            [
                "0c4dd171470cd88c"
            ]
        ]
    },
    {
        "id": "d2b5189c0cf2258b",
        "type": "file in",
        "z": "cbc36fa5a4935551",
        "name": "",
        "filename": "coord",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 450,
        "y": 1680,
        "wires": [
            [
                "b743737d7cbd2263"
            ]
        ]
    },
    {
        "id": "b743737d7cbd2263",
        "type": "change",
        "z": "cbc36fa5a4935551",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "SHM",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1680,
        "wires": [
            [
                "0c4dd171470cd88c"
            ]
        ]
    },
    {
        "id": "0c4dd171470cd88c",
        "type": "mqtt out",
        "z": "cbc36fa5a4935551",
        "name": "",
        "topic": "Cmd/Nodo_ESP01",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "48f075c996337301",
        "x": 1010,
        "y": 1620,
        "wires": []
    },
    {
        "id": "7056c4c6323f2400",
        "type": "function",
        "z": "cbc36fa5a4935551",
        "name": "",
        "func": "var coord;\n\nif (!flow.get(\"X\")) {\n    flow.set(\"X\", 0);\n}\nif (!flow.get(\"Y\")) {\n    flow.set(\"Y\", 0);\n}\nif (!flow.get(\"A\")) {\n    flow.set(\"A\", 0);\n}\n\nswitch (msg.topic){\n    \n    case \"X\":\n        flow.set(\"X\", msg.payload);\n    break;\n    case \"Y\":\n        flow.set(\"Y\", msg.payload);\n    break;\n    case \"A\":\n        flow.set(\"A\", msg.payload);\n    break;\n    default:\n    break;\n}\n\nX = flow.get(\"X\");\nY = flow.get(\"Y\");\nA = flow.get(\"A\");\n\n//msg.payload = [X,Y,A];\nmsg.payload = (X<<16)+(Y<<8)+(A<<0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "18e2d22b2f839ef1"
            ]
        ]
    },
    {
        "id": "293f8479eb1bfd5a",
        "type": "function",
        "z": "cbc36fa5a4935551",
        "name": "MODO, AUTO",
        "func": "msg.payload = \"auto\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 900,
        "wires": [
            [
                "dff7ecee59e52cf7"
            ]
        ]
    },
    {
        "id": "7fe325af602a2107",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "badd66b6d48a0c02",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calibra magnetometro",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[5,2,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "a66a6c5457a73f0c",
        "type": "join",
        "z": "cbc36fa5a4935551",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "afec2d214d797241",
        "type": "debug",
        "z": "cbc36fa5a4935551",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1100,
        "wires": []
    },
    {
        "id": "206a1cd10788cb80",
        "type": "ui_button",
        "z": "cbc36fa5a4935551",
        "name": "",
        "group": "badd66b6d48a0c02",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "punto a punto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[5,3,0,0,0,0,0]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "be3ac9fc90dd2a4a"
            ]
        ]
    },
    {
        "id": "48f075c996337301",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bbea045f5fe804ae",
        "type": "ui_group",
        "name": "Manual",
        "tab": "f7be38f3567ae573",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "d6614eaae92fbd37",
        "type": "ui_group",
        "name": "MQTT",
        "tab": "f7be38f3567ae573",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "badd66b6d48a0c02",
        "type": "ui_group",
        "name": "Modo de operación",
        "tab": "f7be38f3567ae573",
        "order": 3,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "5cb679e20d5ee3b0",
        "type": "ui_group",
        "name": "Metricas",
        "tab": "f7be38f3567ae573",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "2f56778897a4c7c9",
        "type": "ui_group",
        "name": "Coordenadas",
        "tab": "f7be38f3567ae573",
        "order": 5,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "b5808822a72da289",
        "type": "ui_group",
        "name": "Navegación",
        "tab": "f7be38f3567ae573",
        "order": 6,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "f7be38f3567ae573",
        "type": "ui_tab",
        "name": "CONTROL ROBOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]